[Desktop Entry]
Version=1.0
Type=Application
Name=changedns
Comment=
Exec=/home/devuan/Desktop/minimize/wrapper.sh cdns
Icon=
Path=
Terminal=true
StartupNotify=false
