iface=
enforce=
debug=0
dnsm=0
#dsn="INSERT LIST OF DNS/DOT SERVERS HERE"
changepw=0
#
#pkgs
CONF_pkgdir=/var/cache/apt/archives
CONF_pkgsrc= #tämän idea olikaan? no sources.list tietenkin
CONF_removepkgs=1 #seur. tämän nimeäminen uudestaan
#/pkgs
#
CONF_dir=/media
CONF_part0=ABCD-1234-XXXX
#
#loka
#HUOM.11525:locale-juttuja varten nykyään /e/d/l.tmp
LCF666="SAME_AS LC_TIME"
LANG=en_US.UTF-8
LC_TIME=fi_FI.UTF-8
LANGUAGE=en_US.UTF-8
LC_ALL=en_US.UTF-8
#/loka
#
BASEURL="github.com/senescent777/"
#testgris ja .chroot voisi korvata yhdellä mjalla
testgris=/SMTH1NG
#
#krypto
#nimeäimnen jos loogisemmin? pubk und ksk ?
CONF_kay1name=KAYEABCD
CONF_kay2name=KAYEFGHI
TARGET_Dkname1=
TARGET_Dkname2=
TARGET_Dpubkf=${TARGET_DIGESTS_dir}/${TARGET_Dkname1}
TARGET_Dpubkg=${TARGET_DIGESTS_dir}/${TARGET_Dkname2}
TARGET_Dkarray="${TARGET_Dkname1} ${TARGET_Dkname2}"
#/kyrpto
#
TARGET_TPX="--exclude tim3stamp --exclude rnd --exclude .chroot --exclude .gnupg/ "
#
#sudo-juttuja
CB_LIST2="/bin/rm CONF_TMPIR/*"
#TODO:mkcnffile ajan tasalle (mitentaas liittyikään?)
#
CONF_dm=slim