iface=
enforce=
debug=0
dir=/media
dnsm=0
part0=ABCD-1234-XXXX
removepkgs=1
#dsn="INSERT LIST OF DNS/DOT SERVERS HERE"
changepw=0
#
pkgsrc= #tämän idea olikaan? no sources.list tietenkin
pkgdir=/var/cache/apt/archives #jatkossa nimenä CONF_pkgdir
#
#HUOM.11525:locale-juttuja varten nykyään /e/d/l.tmp tai siis
LCF666="SAME_AS LC_TIME"
LANG=
LC_TIME=
LANGUAGE=
LC_ALL=
#
BASEURL="github.com/senescent777/"
testgris=/SMTH1NG #jatkossa toisin, jos mahd
#
CONF_kay1name=KAYEBACDS
CONF_kay2name=KAYEFGH
TARGET_TPX="--exclude tim3stamp --exclude rnd --exclude .chroot --exclude .gnupg/ "
TARGET_Dkname1=d1k
TARGET_Dkname2=t1t
TARGET_Dpubkf=${TARGET_DIGESTS_dir}/${TARGET_Dkname1}
TARGET_Dpubkg=${TARGET_DIGESTS_dir}/${TARGET_Dkname2}
TARGET_Dkarray="${TARGET_Dkname1} ${TARGET_Dkname2}"
#
CB_LIST2="/bin/rm CONF_TMPIR/*"