[Desktop Entry]
Version=1.0
Type=Application
Name=ifdown -a
Comment=WORK IN PROIGESS
Exec=/home/devuan/Desktop/minimize/wrapper.sh ifup
Icon=
Path=
Terminal=true
StartupNotify=false
