[Desktop Entry]
Version=1.0
Type=Application
Name=ifup -a
Comment=WORK IN PROGRESS
Exec=/home/devuan/Desktop/minimize/wrapper.sh ifdown
Icon=
Path=
Terminal=true
StartupNotify=false
