[Desktop Entry]
Version=1.0
Type=Application
Name=change_passwds
Comment=changes passwds
Exec=/home/devuan/Desktop/minimize/wrapper.sh pw
Icon=
Path=
Terminal=true
StartupNotify=false
