[Desktop Entry]
Version=1.0
Type=Application
Name=changedns (NEW)
Comment=
Exec=sudo /opt/bin/changedns.sh 0 -v
Icon=
Path=
Terminal=true
StartupNotify=false
