[Desktop Entry]
Version=1.0
Type=Application
Name=ifdown -a
Comment=TODO:wrapper?
Exec=sudo /sbin/ifdown -a
Icon=
Path=
Terminal=true
StartupNotify=false
