[Desktop Entry]
Version=1.0
Type=Application
Name=import2
Comment=this .desktop-file may or may not run import2 through wrapper
Exec=/home/devuan/Desktop/minimize/wrapper.sh import
Icon=
Path=
Terminal=true
StartupNotify=false
