[Desktop Entry]
Version=1.0
Type=Application
Name=import2
Comment=this .desktop-file does not yet work, a wrapper/frontend is required
Exec=/home/devuan/Desktop/minimize/wrapper.sh import
Icon=
Path=
Terminal=true
StartupNotify=false
