[Desktop Entry]
Version=1.0
Type=Application
Name=import2 (NEW)
Comment=this .desktop-file may or may not run import2 through wrapper (new version)
Exec=/home/devuan/Desktop/minimize/wrapper.sh import2
Icon=
Path=
Terminal=true
StartupNotify=false
