[Desktop Entry]
Version=1.0
Type=Application
Name=remove ubuntu-style sudo
Comment=
Exec=/home/devuan/Desktop/minimize/omega.sh
Icon=
Path=
Terminal=true
StartupNotify=false
