ui vesamenu.c32
prompt 0
menu title devuan-live boot menu
timeout 70
menu background /isolinux/splash.png

menu color title	* #CFE1F2 *
menu color border	* #00000000 #00000000 none
menu color sel         * #ffffff #005FBF none
menu color hotsel      1;7;37;40 #CFE1F2 #005FBF *
menu color unsel       * #CFE1F2 #00000000 *
menu color tabmsg	* #CFE1F2 #00000000 *
menu color cmdline 0 #CFE1F2 #00000000
menu color help		37;40 #ffdddd00 #00000000 none
menu vshift 9
menu rows 12
#menu helpmsgrow 15
#menu cmdlinerow 25
menu timeoutrow 16
menu tabmsgrow 14
menu tabmsg Press ENTER to boot or TAB to edit a menu entry


label live
	menu label devuan-live (amd64)
	menu default
	linux /live/vmlinuz
	append initrd=/live/initrd.img boot=live username=devuan apparmor=0 locales=en_US.UTF-8 keyboard-layouts=fi toram

label lang
	menu label Other language (TAB to edit)
	linux /live/vmlinuz
	append initrd=/live/initrd.img boot=live username=devuan apparmor=0 locales=it_IT.UTF-8 keyboard-layouts=it 

label toram
	menu label devuan-live (amd64) (load to RAM)
	linux /live/vmlinuz
	append initrd=/live/initrd.img boot=live username=devuan toram apparmor=0 

label failsafe
	menu label devuan-live (amd64) (failsafe)
	kernel /live/vmlinuz noapic noapm nodma nomce nolapic nosmp nomodeset vga=normal username=devuan apparmor=0 
	append initrd=/live/initrd.img boot=live

label memtest
	menu label Memory test
	kernel /live/memtest

endtext
